main {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "mission mission"
        "history image"
        "salmonn solution"
}

blockquote {
    font-size: 1.5rem;
}

section:nth-of-type(1) h2, blockquote {
    text-align: center;
}

section:nth-of-type(1) {
    background-color: antiquewhite;
    grid-area: mission;
    height: 200px;
}

section:nth-of-type(2) {
    grid-area: history;
    margin-bottom: 40px;
} 

section:nth-of-type(3) {
    grid-area: image;

}

section:nth-of-type(3) img {
    width: 100%;
    padding: 30px;
    margin-top: 30px;
    border-radius: 60px
}

section:nth-of-type(4) {
    grid-area: solution;

}

section:nth-of-type(5) {
    grid-area: salmonn;

}

section:nth-of-type(5) img {
 
    width: 70%;
    padding: 30px;
    margin-left: 15%;
    border-radius: 60px
}

/*Responsive*/
@media (max-width: 945px) {
    p{
        font-size: medium;
    }
    body {
        display: block;
    }

    nav {
        padding: 0%;
    }
    
    nav a{
        font-size: small;
        padding: 0%;
    }
    
    nav ul{
        padding: 0%;
        margin: 8px;
    }
    
    button.cart {
        margin-left: 20px;
        padding: 5px 20px;
        font-size: small;
        
      }
  }

@media (max-width: 830px) {
    main {
        width: 100%;
        display: block;
        margin: 0px;
      }
    
    section:nth-of-type(5) img { 
        display: none;
    }
    section:nth-of-type(3) img {
        width: 100%;
        padding: 0%;
        margin: 0%;
    }
    section:nth-of-type(4) {
        padding-bottom: 40px;
    }
}

@media (max-width: 565px) {
    nav {
        float: none;
        display: block;
    }
    nav img {
        display: none;
    }
}
