main, header {
  margin: 0%;
}

header {
  background-color: pink;
  background-image: url(images/makeup_backgrounnd.jpg);
  background-position:center;
  background-size:cover;


  height: 95vh;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

h1 {
    font-size: 4rem;
    margin: 0%;
}

blockquote {
    font-size: 1.2em;
}
h1, blockquote {
    margin-bottom: 25%;
}


h2 { 
  font-size: 2rem;
}

section:nth-of-type(1) {
    padding: 20px;
}
  
  section:nth-of-type(2) {
    background-image: url(images/allProducts.png);
    background-position:center;
    background-size:cover;
    height: 90vh;
    margin-top: 20px;
  }
    

section img {
  height: auto;
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 5px;
}

/*Bottom Portion*/
.allproducts {
  position: relative;
}

.allproducts div {
  position: absolute;
  top: 100px;
  left: 100px;
}

.allproducts div h2 {
  font-size: 2.3rem;
}

.allproducts div a {
  background-color: rgb(255, 255, 255);
}

